.headerOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 12px;
}
.headerOne__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerOne__adres {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerOne__adres::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("/img/location_on.svg");
}
.headerOne__language {
  border: none;
  outline: none;
}
.headerOne__forAfter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerOne__forAfter::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../../../public/img/arrowtriangle.backward.circle.fill.svg");
  transition: ease-in-out 0.3s;
}
.headerOne__forAfter:hover::after {
  rotate: 180deg;
  transition: ease-in-out 0.3s;
}

.headerOne__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.headerOne__item {
  margin-left: 30px;
  color: rgba(25, 20, 20, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.headerOne__item:hover {
  color: #191414;
}
